@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&display=swap");

:root {
  --light-green: #7dd381;
  --dark-green: #174700;
  --light-color: rgb(102, 102, 102);
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Kaisei Tokumin", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 45.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 5rem 9%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: var(--light-green);
  border-radius: 5rem;
}
